<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC '-//mybatis.org//DTD Dao 3.0//EN' 
    'http://mybatis.org/dtd/mybatis-3-mapper.dtd' >
<mapper namespace="com.example.model.UserMapper">  
    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyColumn="userid">  
       insert into user (username, create_time) values(#{userName}, #{createTime})  
    </insert> 
    
    <update id="updateUser" parameterType="User">  
       update user set username=#{userName}, age=#{age} where userid=#{userId}  
    </update>  
     
   
     
    <delete id="deleteUser" parameterType="int">  
       delete from user where userid=#{userId}  
    </delete>  
</mapper> 